# Xcode
.DS_Store
build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate
*.moved-aside
xcuserdata
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/

# CocoaPods
Pods/
*.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# SwiftPM artifacts
.swiftpm/xcode/

# Misc
*.orig
*.log